@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Form Validation / REST / JavaScript</h1>
    <p class="lead">
        The project was designed to test your web knowledge.
    </p>
    <p>
        @Html.ActionLink("Get Started", "Task1", "Javascript", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>